@font-face {
  font-family: Poppins-bold;
  src: url(./Poppins.ttf);
}

@font-face {
  font-family: Poppins-regular;
  src: url(./Poppins-Regular.ttf);
}

body {
  background-color: #f7f7f9;
  margin: 0;
  padding: 0;
}

.first-wrapper {
  margin: 0;
  background-image: url("./assets/bg\ image.png.png");
  border-radius: 0 0 0 50px;
  background-color: #fff;
  padding: 20px;
}

.header {
  background-color: #fff;
  margin: 0;
  padding: 0 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-list {
  display: none;
  width: 0;
  height: 0;
}

a {
  color: #6070ff;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  padding-top: 30px;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

h3 {
  color: #6070ff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.social-media-icons {
  display: flex;
  align-items: baseline;
  padding-left: 0;
  padding-bottom: 50px;
}

.a {
  text-decoration: none;
  padding-right: 35px;
  list-style-type: none;
}

.poppins {
  font-family: Poppins-bold, sans-serif;
  color: #172b4d;
}

.poppins-regular {
  font-family: Poppins-regular, sans-serif;
}

.inner-wrapper {
  align-items: center;
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 16px;
  margin-bottom: 50px;
}

.sixth-wrapper {
  border-radius: 0 50px 0 0;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
}

#about-ul {
  justify-content: left;
  padding: 0;
}

.about-li {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 25px;
  font-size: small;
  color: #7a869a;
}

#canopy {
  list-style-type: none;
  color: black;
}

.languages {
  list-style-type: none;
  float: left;
  background-color: #ebebff;
  color: #6070ff;
  padding: 4px 12px;
  margin-right: 8px;
  border-radius: 10px;
}

#languages {
  padding: 0 0 40px;
}

button {
  width: 125px;
  height: 50px;
  background-color: #fff;
  color: #396df2;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 500;
  border: 1px solid #396df2;
}

button:hover {
  background-color: #6070ff;
  color: white;
}

button:active {
  background-color: #2230d2;
  color: white;
}

.image-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.snapshoot {
  width: 100%;
}

ul.poppins-regular {
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
}

li.language-end {
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #f7f7f7f9;
  padding: 4px 50px;
  margin-left: 0;
  border-radius: 10px;
  padding-left: 0;
  margin-bottom: 10px;
  font-size: medium;
}

img.language-icon {
  margin-left: 10px;
  margin-right: 20px;
}

button#resume-button {
  width: 150px;
  height: 50px;
  background-color: #fff;
  color: #396df2;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 500;
  border: 1px solid #396df2;
}

ul.social-media-icons {
  padding-bottom: 30px;
}

h4.poppins-regular {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  margin-right: 40px;
}

.work-section {
  display: grid;
  grid-template-columns: auto;
  padding: 7px;
}

footer {
  margin: 0;
  background-image: url("./assets/bg\ image.png.png");
  border-radius: 0 50px 0 0;
  background-color: #6070ff;
  padding: 20px;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.form-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 auto;
}

form {
  width: 100%;
}

li.form-field {
  width: 100%;
}

.form-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.text-field {
  font-family: Poppins-regular, sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 10px auto;
  height: 40px;
  border-radius: 10px;
  width: 100%;
  border: none;
  padding-left: 10px;
  padding-right: 0;
}

textarea {
  font-family: Poppins-regular, sans-serif;
  box-sizing: border-box;
  padding-top: 10px;
  height: 120px;
  width: 100%;
  border-radius: 10px;
  padding-left: 10px;
  margin: 10px 0;
}

.footer-container .poppins {
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 52px;
}

.footer-container .poppins-regular {
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .first-wrapper {
    background-repeat: no-repeat;
    background-image: url(./assets/bg-img-desktop.png);
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: none;
    width: 0;
    height: 0;
  }

  .nav-list {
    font-family: Poppins-regular, sans-serif;
    display: flex;
    width: auto;
    height: auto;
    list-style-type: none;
    margin: 0 3rem;
  }

  .nav-list li {
    margin: 0 1rem;
    color: #344563;
  }

  .text-wrapper h1 {
    max-width: 330px;
    margin: 1rem 1rem 0.5rem 0;
  }

  .text-wrapper p {
    margin: 0.5rem 1rem 0.5rem 0;
    max-width: 700px;
  }

  .text-wrapper {
    width: 70%;
    margin: 8rem auto;
  }

  .left {
    display: flex;
    width: 80%;
    max-width: 1100px;
    margin: 3rem auto;
  }

  .left .image-wrapper {
    max-width: 500px;
    margin-right: 2rem;
  }

  .left .image-wrapper .snapshoot {
    width: 100%;
  }

  .text-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 0 auto;
  }

  .text-content h2 {
    font-size: 40px;
    line-height: 52px;
    margin: 0;
  }

  .text-content p {
    margin: 0;
  }

  .text-content button {
    margin-bottom: auto;
  }

  .right {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    max-width: 1100px;
    margin: 3rem auto;
  }

  .right .text-content {
    margin-right: auto;
  }

  .right .image-wrapper {
    max-width: 500px;
    margin-left: 2rem;
  }

  .right .image-wrapper .snapshoot {
    width: 100%;
  }

  .sixth-wrapper {
    display: flex;
    padding: 5rem 7rem;
    justify-content: space-between;
  }

  .sixth-wrapper .text-content {
    width: 50%;
    margin: 0 2rem 0 0;
  }

  .sixth-wrapper .skills {
    width: 50%;
  }

  .skills ul {
    display: flex;
  }

  .skills li {
    display: flex;
    flex-flow: column;
    margin: 5px;
    padding: 0 0 10px 10px;
    align-items: start;
    width: 100px;
  }

  .skills li div {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 5px 5px 10px 0;
    padding: 0;
  }

  .language-icon {
    width: 100%;
    margin: 0;
  }

  footer {
    background-repeat: no-repeat;
    background-image: url(./assets/footer-bg-desktop.png);
    width: 100vw;
    height: 80vh;
    background-size: 100vw 100vh;
    border-top-left-radius: 100px;
  }

  .form-container {
    max-width: 500px;
  }

  .footer-container p {
    text-align: center;
    max-width: 500px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-field {
    border-radius: 0;
  }

  .textarea {
    border-radius: 0;
  }

  .footer-container h2 {
    margin: 100px auto 5px auto;
  }
}
