
@media only screen and (max-width: 600px) {
  @font-face {
    font-family: myFont;
    src: url(./Poppins.ttf);
  }
  
  body {
    margin: 0;
    background-image: url("./assets/bg\ image.png.png");
  }

  .first-section {
    display: flex;
  }

  header {
    background-color: rgb(239, 244, 249);
  }

  a {
    text-decoration: none;
    color: black;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

  .h1 {
    font-family: myFont;
    font-size: 25px;
    font-weight: 700;
    line-height: 52px;
  }

  p {
    font-family: myFont;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  h3 {
    color: rgb(0, 170, 255);
    font-family: myFont;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .social-media {
    display: flex;
    align-items: baseline;
  }

  #a {
    display: flex;
    padding-right: 25px;
  }

}
